
/* Login page buttons */
.btn {
  transition: all .2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Login page buttons */
/* .sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); */
  /* Needs to sit above the hamburger menu icon */
  /* z-index: 2; 
  background-color: white;
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out; */
/* } * */

/* The active class is toggled on hamburger and close icon clicks */
/* .sidenav.active {
  transform: translateX(0);
} */

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); */
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: white;
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out;
}

/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0);
}

@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .sidenav {
    display: flex;
    flex-direction: column;
  }

  .menu-icon {
    visibility: hidden;
  }
}
